<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Registration</title>
</head>
<body>
<div th:insert="default-head::def-head"></div>
<h2>Форма регистрации нового пользователя</h2>
<h3>Заполните необходимые поля</h3>
<form action="/registration" method="post">
    Имя: <input name = "firstname" type = "text"> <br>
    Фамилия: <input name = "lastname" type = "text"> <br>
    E-mail: <input name = "email" type = "text"> <br>
    Телефон: <input name = "phone" type = "text"> <br>
    Город: <input name = "defaultCity" type = "text"> <br>
    Пароль: <input name = "Password" type = "text"> <br><br>
    <input type = "submit" value = "Зарегистрироваться"><br><br>
</form>


</body>
</html>