<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Добро пожаловать на Billboard</h1>
<h2>Форма регистрации нового пользователя</h2>
<h3>Заполните необходимые поля</h3>
<form action="/registration" method="post">
    Имя: <input name = "firstname" type = "text">
    Фамилия: <input name = "lastname" type = "text">
    E-mail: <input name = "email" type = "text">
    Телефон: <input name = "phone" type = "text">
    Город: <input name = "defaultCity" type = "text">
    Пароль: <input name = "Password" type = "text">
    <input type = "submit" value = "Зарегистрироваться">
</form>

<form action="/cr" method="post">
    <input type = "submit" value = "go">
</form>

</body>
</html>